<!DOCTYPE html>
<html lang="en">

<head>
    <title>When2Chill - Create Event</title>
    <meta charset="UTF-8">

    <!-- links and script references -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://kit.fontawesome.com/7cb355c76c.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="/javascripts/vue.js" defer></script>
    <script src="/javascripts/create_event.js" defer></script>

</head>

<body>

    <!-- container for the whole page -->
    <div class="container w-auto" id="vue">
        <!-- creating a row to use for grid setup -->
        <div class="row pt-3">

            <!-- left column for users with accounts-->
            <div class="col-lg-3 offset-lg-1" id="sidenav-placeholder" v-if="user_id != ''">
                <!-- this div only appears when screen is smaller than 'lg' size -->
                <!-- holds the button that toggles the offcanvas navbar -->
                <div class="d-flex align-items-center d-lg-none">
                    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">My
                        profile</button>
                </div>

                <!-- our navbar with the ability to toggle for offcanvas -->
                <nav class="navbar navbar-expand-lg mx-0">
                    <div id="offcanvasSideNavbar" class="offcanvas offcanvas-start" tabindex="-1"
                        style="visibility: hidden;" aria-hidden="true">
                        <!-- offcanvas header -->
                        <div class="offcanvas-header">
                            <button class="btn-close text-reset ms-auto" type="button" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>

                        <!-- offcanvas body which can also act as the regular body -->
                        <div class="offcanvas-body d-block px-2 px-lg-0">

                            <!-- card to hold left sidebar contents -->
                            <div class="card overflow-hidden">

                                <!-- use avatar-img class with our own css -->
                                <img v-bind:src="image"
                                    class="card-img-top avatar-img mx-auto mt-3" alt="image here">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ firstname }} {{ lastname }}</h5>
                                    <p class="card-text">@{{ user_id }}</p>
                                    <button type="button" class="btn btn-light btn-sm shadow-sm border"
                                        data-bs-toggle="modal" data-bs-target="#edit-user">Change user
                                        details</button>
                                    <hr>
                                    <button type="button" class="btn btn-light btn-sm shadow-sm border"
                                        data-bs-toggle="modal" data-bs-target="#signout-user">Sign Out</button>
                                </div>
                                <div class="list-group list-group-flush">
                                    <a href="/home.html" class="list-group-item list-group-item-action">Dashboard
                                    </a>
                                </div>
                                <div class="list-group list-group-flush" v-for="item in hostedevents"
                                    :id="item.eid">
                                    <a v-bind:href="'/event.html?event_id=' + item.eid"
                                        class="list-group-item list-group-item-action">
                                        {{ item.e_name }}
                                    </a>
                                </div>
                                <div class="list-group list-group-flush" v-for="item in events" :id="item.eid">
                                    <a v-bind:href="'/event.html?event_id=' + item.eid"
                                        class="list-group-item list-group-item-action">
                                        {{ item.e_name }}
                                    </a>
                                </div>
                            </div>

                            <!-- card to hold left sidebar contents -->
                            <div class="card overflow-hidden mt-5" v-if="isAdmin">
                                <div class="card-header">Admin Panel</div>

                                <div class="card-body">
                                    <div class="input-group">
                                        <input type="search" id="u_search" class="form-control"
                                            placeholder="Search user" required>
                                        <button type="button" class="btn btn-primary rounded-end">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        <span class="validity"></span>
                                    </div>
                                    <div class="input-group mt-3">
                                        <input type="search" id="e_search" class="form-control"
                                            placeholder="Search event" required>
                                        <button type="button" class="btn btn-primary rounded-end" @click = "adminEvent()">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        <span class="validity"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </nav>
            </div>

            <!-- middle column -->
            <div class="col-lg-6 col-md-8">
                <div class="card mx-auto my-auto mt-2">
                    <div class="card-header">
                        Create an Event
                    </div>

                    <div class="card-body">
                        <div class="mb-3">
                            <label for="event-name" class="form-label">Event Title</label>
                            <input class="form-control" id="event-name">
                        </div>
                        <div class="mb-3">
                            <label for="event-place" class="form-label">Event Location</label>
                            <input class="form-control" id="event-place">
                        </div>
                        <div class="mb-3">
                            <label for="event-desc" class="form-label">Event Description</label>
                            <textarea class="form-control" id="event-desc" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="card mx-auto my-auto mt-2">
                    <div class="card-header">
                        Your Availabilities
                    </div>

                    <div class="card-body" id="timeslots">
                        <form id="form0">
                            <div class="row" id="one-form">
                                <div class="form-floating mt-2 col-5">
                                    <input type="datetime-local" class="form-control" id="start-time" name="times">
                                    <label for="start-time">&nbsp;&nbsp;&nbsp;Start Time (AM/PM)</label>
                                </div>
                                <div class="form-floating mt-2 col-5">
                                    <input type="datetime-local" class="form-control" id="end-time" name="times">
                                    <label for="end-time">&nbsp;&nbsp;&nbsp;End Time (AM/PM)</label>
                                </div>

                                <!-- Force next columns to break to new line -->
                                <!-- <div class="w-100 m-1"></div>

                                <div class="form-floating mb-3 mt-0 col-6">
                                    <input type="time" class="form-control" id="start-time" name="times">
                                    <label for="start-time">Start time(AM/PM)</label>
                                </div>
                                <div class="form-floating mb-3 mt-0 col-6">
                                    <input type="time" class="form-control" id="end-time" name="times">
                                    <label for="end-time">End time(AM/PM)</label>
                                </div> -->
                            </div>
                        </form>
                    </div>

                    <div class="card-footer text-muted">
                        <button class="btn btn-secondary float-end" onclick="addform()">Add Another Availability</button>
                    </div>

                </div>

                <div class="row p-3 float-end">
                    <a href="#" class="btn btn-success" onclick="create_event()">Create Event</a>
                </div>

            </div>
        </div>


        <!-- modal for changing user details -->
        <div class="modal fade" id="edit-user" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- modal for editing use details -->
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="edit-example-long-title">Change User Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="changeEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="changeEmail" v-model="email">
                                    </div>

                                    <div class="col-6">
                                        <label for="change-first" class="form-label">First name</label>
                                        <input class="form-control" id="change-first" v-model="firstname">
                                    </div>

                                    <div class="col-6">
                                        <label for="change-last" class="form-label">Last name</label>
                                        <input class="form-control" id="change-last" v-model="lastname">
                                    </div>

                                    <div class="col-12">
                                        <label for="change-address" class="form-label">Address</label>
                                        <input class="form-control" id="change-address" v-model="address">
                                    </div>

                                    <div class="col-6">
                                        <label for="change-number" class="form-label">Phone number</label>
                                        <input class="form-control" id="change-number" v-model="number">
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard Changes</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="usermodify()">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- modal for signing out -->
        <div class="modal fade" id="signout-user" tabindex="-1" role="dialog" aria-hidden="true">
            <!-- modal for signing out -->
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body text-center">
                        <p class="mb-5">Are you sure you want to sign out?</p>

                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">No, bring me back.</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes, sign out.</button>

                    </div>
                </div>
            </div>
        </div>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>